<footer>

  <div class="all_footer">

    <div class="icons">
      <ul class="social_icon">
        <li><a href="https://www.youtube.com/c/leagueoflegendsfr" target="_blank"><img src="../../assets/youtube.png" alt="facebook"></a></li>
        <li><a href="https://twitter.com/LoL_France" target="_blank"><img src="../../assets/twitter.png" alt="twitter"></a></li>
        <li><a href="https://open.spotify.com/artist/47mIJdHORyRerp4os813jD" target="_blank"><img src="../../assets/spotify.png" alt="spotify"></a></li>
        <li><a href="https://www.instagram.com/leagueoflegendsfr/" target="_blank"><img src="../../assets/instagram.png" alt="instagram"></a></li>
      </ul>
    </div>

    <div class="barre_menu">
      <ul class="menu">
        <li><a href="#">Back to the top</a></li>
      </ul>
    </div>

    <div class="by">
      <p id="names">Made by TAN Tony, Tessier Killian, RENOIT Charles</p>
    </div>


    <div class="infos">
      <p>©2022 Online Tutorials | All Rights Reserved</p>
    </div>

  </div>


</footer>
