<div class="all">
    <div class="container">
      <!--je créé des cards pour mettre mes iframe dedans-->
      <div class="main-card">
        <div class="cards">
          <div class="card">
            <!--j'utilise un iframe pour afficher mes musiques miniaturisés-->
              <iframe id="iframe0" frameborder="0" allowtransparency="true"
              allow="encrypted-media"></iframe>
           </div>

           <div class="card">
             <iframe id="iframe1" frameborder="0" allowtransparency="true"
             allow="encrypted-media"></iframe>
          </div>

          <div class="card">
            <iframe id="iframe2" frameborder="0" allowtransparency="true"
            allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>

    </div>
</div>
